@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url(./components/assets/appBackground.jpg);
  background-size: cover;
  background-color: black;
  color: white;
}
